# Python virtual environment
.sfenv/
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Snowflake credentials (if you use dotenv)
.env
