# Ignore virtual environments
venv/
.venv/
ignore/

# Ignore Airflow database and logs
airflow/airflow.db
airflow/logs/
airflow/unittests.cfg

# Ignore Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# Ignore VS Code settings (optional)
.vscode/

# Ignore environment files
.env
*.env

# Ignore Airflow config (optional)
airflow/airflow.cfg
airflow/webserver_config.py

# Ignore Jupyter/IPython history (optional)
.ipynb_checkpoints/
.history

# Mac/OS artifacts
.DS_Store
